black==23.3.0
click==8.1.3
flake8==6.0.0
inquirerpy==0.3.4
isort==5.12.0
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
pfzy==0.3.4
pip==23.1.2
platformdirs==3.5.1
prompt-toolkit==3.0.38
pycodestyle==2.10.0
pyflakes==3.0.1
pyright==1.1.311
setuptools==67.8.0
typeguard==4.0.0
wcwidth==0.2.6
wheel==0.40.0
